<div class="jumbotron">
    <h2>Oi! Eu sou o Miguel Cadaviz</h2>

    <p class="lead">Mas pode me chamar de Cadaviz, sou desenvolvedor full-stack em .NET.</p>
    <p><a href="https://branded.me/miguelcadaviz" class="btn btn-primary btn-lg">Saiba mais...</a></p>
</div>

